.tickets {
    display: flex; 
    flex-direction: column; 
 }

.ticket {
    background-color: #4b7297; 
    border: 1px dotted #f7f8f7; 
    padding: 10px; 
    margin: 0.5rem 0;
    color: #f0fafe; 
 } 

 .ticket__delete { 
    margin-right: auto; 
    background-color: lightcoral; 
    color: #f7f8f7; 
 }

 .ticket__finish { 
   margin-left: auto; 
 }
